
@font-face {
    font-family: 'Geist-Bold';
    src: url('./fonts/Geist-Bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'Geist-SemiBold';
    src: url('./fonts/Geist-Bold.woff2') format('woff2'),
}


@font-face {
    font-family: 'Geist-Medium';
    src: url('./fonts/Geist-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'GeistMono-Medium';
    src: url('./fonts/GeistMono-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'GeistMono-Regular';
    src: url('./fonts/GeistMono-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'Geist-Regular';
    src: url('./fonts/GeistMono-Medium.woff2') format('woff2'),
}

body {
    font-family: 'Geist-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Geist-SemiBold', Arial, sans-serif;
    max-width: 520px; 
    line-height: 1.1em;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-family: 'GeistMono-Regular', Arial, sans-serif;
    color: #555;
    max-width: 520px; 
    line-height: 1.4em;
    text-align: center;
}

a {
    text-decoration: none; /* Removes the underline */
    color: #0066cc; /* Optional: Changes the link color */
}