.main {
  padding: 20px;
  font-size: 15px;
  color: var(--color-primary);
}

@media (min-width: 1000px) {
  .main {
    padding: 0;
    font-size: 20px;
    letter-spacing: -0.5px;
    display: flex;
    height: 100vh;
  }
  .grey {
    background: var(--color-canvas);
  }

  .white {
    background: var(--color-white);
  }
}
