* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1000px) {
  html {
    background: var(--color-canvas);
  }
}

:root {
  /* Colors */
  --color-black: #000;
  --color-grey: #F4F1ED;
  --color-canvas: #F4F1ED;
  --color-white: #fff;
  --color-orange-light: #F5E1D6;
  --color-orange-light-hover: #f6e0d7;
  --color-orange-dark: #ff4f04;

  /* Font size */
  --font-size-s: 15px;
  --font-size-m: 24px;
  --font-size-l: 40px;
  --font-size-xl: 48px;

  /* Transitions */
  --bounce-easing: cubic-bezier(0.445, 0.185, 0, 1.61);
}

::selection {
  background-color: var(--color-orange-light);
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
  font-size: 1.05rem;
}
