.cardLayout {
  text-align: center;
}

@media (min-width: 1000px) {
  .cardLayout {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.desktopHeader {
  display: none;
}

@media (min-width: 1000px) {
  .desktopHeader {
    display: block;
  }
}

.mobileHeader {
  display: block;
}

@media (min-width: 1000px) {
  .mobileHeader {
    display: none;
  }
}

.mobileTitle {
  font-size: var(--font-size-s);
  margin: 60px auto;
  font-weight: 400;
  max-width: 320px;
}

.desktopDemo {
  display: none;
}

@media (min-width: 1000px) {
  .desktopDemo {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .desktopDemo {
    width: 40vw;
  }
}

.mobileDemo {
  margin: 60px auto;
  max-width: 220px;
}

@media (min-width: 1000px) {
  .mobileDemo {
    display: none;
  }
}

.title {
  font-size: var(--font-size-xl);
  font-family: var(--font-mono);
  font-weight: 400;
  margin: 0;
}

.subtitle {
  max-width: 600px;
  margin: 40px 0;
  font-weight: 400;
  font-size: var(--font-size-l);
}

.ctaSectionDesktop {
  display: none;
}

@media (min-width: 1000px) {
  .ctaSectionMobile {
    display: none;
  }
  .ctaSectionDesktop {
    display: block;
  }
}

.desktopButton {
  text-align: center;
  display: inline-flex;
  font-size: var(--font-size-m);
  background: var(--color-orange-light);
  color: var(--color-orange-dark);
  text-decoration: none;
  border: 0;
  height: 60px;
  line-height: 45px;
  border-radius: 10rem;
  cursor: pointer;
  width: 180px;
  transition: color 200ms, background 150ms, width 200ms var(--bounce-easing);
  align-items: center;
  overflow: hidden;
}

.desktopButton:hover {
  background: var(--color-orange-light-hover);
}

.downloadActive .desktopButton {
  background: var(--color-black);
  color: var(--color-white);
  width: 260px;
  cursor: default;
}

.desktopButton:active {
  transform: scale(0.95);
}

.desktopButtonInner {
  width: 260px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  left: -40px;
  transition: left 200ms var(--bounce-easing);
}

.downloadActive .desktopButtonInner {
  left: 0;
}

.appIcon {
  width: 120px;
  margin: 60px 0;
}

.mobileButton {
  text-align: center;
  display: inline-flex;
  font-size: 17px;
  background: var(--color-black);
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  border: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 1rem;
  border-radius: 10rem;
  cursor: pointer;
  align-items: center;
  gap: 8px;
}
