.card {
  border-radius: 40px;
  padding: 40px;
  background: var(--color-white);
  flex-grow: 1;
}

.demoWrap {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: var(--font-size-xl);
  font-family: var(--font-mono);
  font-weight: 400;
  margin: 0;
}

.header strong {
  font-weight: 600;
}

.subHeader {
  max-width: 600px;
  margin-top: 40px;
}

.ctaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

@media (min-width: 1000px) {
  .ctaSection {
    display: flex;
  }
  .ctaSectionMobile {
    display: none;
  }
}

.appIconSection {
  margin: 40px 0;
}

.button {
  text-align: center;
  display: inline-flex;
  font-size: var(--font-size-m);
  background: var(--color-orange-light);
  color: var(--color-orange-dark);
  text-decoration: none;
  border: 0;
  height: 60px;
  line-height: 45px;
  border-radius: 10rem;
  cursor: pointer;
  width: 180px;
  transition: color 250ms, background 100ms, width 250ms var(--bounce-easing);
  align-items: center;
  overflow: hidden;
}

.button:hover {
  background: var(--color-orange-light-hover);
}

.buttonActive .button {
  background: var(--color-black);
  color: var(--color-white);
  width: 260px;
  cursor: default;
}

.button:active {
  transform: scale(0.95);
}

.buttonInner {
  width: 260px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  left: -40px;
  transition: left 250ms var(--bounce-easing);
}

.buttonActive .buttonInner {
  left: 0;
}

.appIcon {
  margin: 40px 0;
}

.qr {
  margin: 40px 0;
}
