.cardLayout {
  text-align: center;
}

@media (min-width: 1000px) {
  .cardLayout {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.desktopHeader {
  display: none;
}

@media (min-width: 1000px) {
  .desktopHeader {
    display: block;
  }
}

.mobileHeader {
  display: block;
}

@media (min-width: 1000px) {
  .mobileHeader {
    display: none;
  }
}

.mobileTitle {
  font-size: 15px;
  letter-spacing: -0.5px;
  margin: 40px auto;
  font-weight: 400;
  max-width: 320px;
}

.desktopDemo {
  display: none;
}

@media (min-width: 1000px) {
  .desktopDemo {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #000; */
  }
}

@media (min-width: 1400px) {
  .desktopDemo {
    width: 50vw;
  }
}

.mobileDemo {
  margin: 40px auto;
  max-width: 180px;
}

@media (min-width: 1000px) {
  .mobileDemo {
    display: none;
  }
}

.title {
  font-size: 28px;
  font-family: var(--font-mono);
  font-weight: 400;
  margin: 0;
  /* border: 2px solid #000; */
}

.subtitle {
  /* max-width: 600px; */
  margin: 40px 0;
  font-weight: 400;
  font-size: 22px;
  /* border: 2px solid #000; */
}

.ctaSectionDesktop {
  display: none;
}

@media (min-width: 1000px) {
  .ctaSectionMobile {
    display: none;
  }
  .ctaSectionDesktop {
    display: block;
  }
}

.desktopButton {
  text-align: center;
  display: inline-flex;
  font-size: 20px;
  background: var(--color-orange-light);
  color: var(--color-orange-dark);
  text-decoration: none;
  border: 0;
  height: 54px;
  line-height: 45px;
  border-radius: 10rem;
  cursor: pointer;
  width: 180px;
  transition: color 200ms, background 150ms, width 200ms var(--bounce-easing);
  align-items: center;
  overflow: hidden;
}

.desktopButton:hover {
  background: var(--color-orange-light-hover);
}

.downloadActive .desktopButton {
  background: var(--color-black);
  color: var(--color-white);
  width: 260px;
  cursor: default;
}

.desktopButton:active {
  transform: scale(0.95);
}

.desktopButtonInner {
  width: 260px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  left: -40px;
  transition: left 420ms var(--bounce-easing);
}

.downloadActive .desktopButtonInner {
  left: 0;
}

.appIcon {
  width: 100%; /* Make the .appIcon take up the full width of its parent */
  height: 160px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px 0;
  /* border: 2px solid #000; */
}


.mobileButton {
  text-align: center;
  display: inline-flex;
  font-size: 17px;
  background: var(--color-black);
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  border: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 1rem;
  border-radius: 10rem;
  cursor: pointer;
  align-items: center;
  gap: 8px;
}
